name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        django: ["4.2", "5.1", "5.2"]
        exclude:
          - python: "3.13"
            django: "4.2"
          - python: "3.14"
            django: "4.2"
          - python: "3.14"
            django: "5.1"

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python }}.*
    - name: Install package
      run: pip install -e .
    - name: Install dependencies
      run: pip install -r dev-requirements.txt
    - name: Install Django
      run: pip install -U django~=${{ matrix.django }}.0
    - name: Run tests
      run: ./runtests
